
---
- name: Set SELinux to permissive mode
  ansible.builtin.command: setenforce 0

- name: Install packages
  ansible.builtin.package:
    name: "{{ item }}"
  loop: "{{ common_packages + group_packages }}"

- name: Install Python modules for the user
  become: false
  ansible.builtin.pip:
    name: "{{ item }}"
  loop: "{{ common_py_modules + group_py_modules }}"

- name: Install demo-magic
  become: false
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/paxtonhare/demo-magic/refs/heads/master/demo-magic.sh
    dest: /home/{{ ansible_user }}/.local/lib/demo-magic.sh
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Install DuckDB
  become: false
  ansible.builtin.shell: curl --fail --silent https://install.duckdb.org | sh

- name: Add Sysdig GPG key
  command: rpm --import https://download.sysdig.com/DRAIOS-GPG-KEY.public

- name: Add Sysdig repo
  ansible.builtin.get_url:
    url: https://download.sysdig.com/stable/rpm/draios.repo
    dest: /etc/yum.repos.d/draios.repo

- name: Install Sysdig
  ansible.builtin.package:
    name: sysdig

- name: Install yq
  become: false
  ansible.builtin.get_url:
    url: https://github.com/mikefarah/yq/releases/download/v4.50.1/yq_linux_amd64
    dest: /home/{{ ansible_user }}/.local/bin/yq
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Create links to config files for bash and vim
  become: false
  ansible.builtin.shell: rm -f ~/.bashrc ~/.bash_profile && stow --dir ~/config --target ~ bash vim
