[user]
	email = constantin.wiemer@gmx.de
	name = Constantin Wiemer
[core]
	excludesfile = /Users/consi/.gitignore_global
[alias]
	unstage = reset HEAD --
	discard = checkout --
	co = checkout
	ci = commit
	last = log -1 HEAD
