
---
- name: Install plugins for ZSH
  become: false
  ansible.builtin.shell: |
    rm -rf ~/.oh-my-zsh
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/.oh-my-zsh/custom/themes/powerlevel10k
    git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    git clone https://github.com/larkery/zsh-histdb ~/.oh-my-zsh/custom/plugins/zsh-histdb

- name: Create links to config files for ZSH, Git, SSH and GDB
  become: false
  # TODO: Add a tag to this and the next task so that we can use the playbook also on a Mac
  ansible.builtin.shell: rm -rf ~/.zshrc && stow --dir ~/config --target ~ --ignore '\.home|work|mvhs' gdb git ssh zsh

- name: Create links to group-specific config files for ZSH, Git and SSH
  become: false
  ansible.builtin.file:
    src: "{{ '~/config/' + item.app + item.file + group_names[0] }}"
    dest: "{{ '~/' + item.file + 'group' }}"
    state: link
    force: true
  loop:
    - {"app": "git/", "file": ".gitconfig."}
    - {"app": "ssh/", "file": ".ssh/config."}
    - {"app": "zsh/", "file": ".zshrc."}

- name: Set ZSH as shell
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /usr/bin/zsh

# TODO: Where can we add the Zscaler root CA cert? Ideally this would be done in a 'work' role that doesn't exist yet. But it would
# also need to be done before anything is downloaded in the 'base' role. These are th necessary steps:
# - `openssl s_client -host heise.de -port 443 -showcerts`
# - copy certificate
# - `cat | sudo tee /etc/pki/ca-trust/source/anchors/Zscaler_Root_CA.pem`
# - `sudo update-ca-trust`
